.s-hero {
    margin-top: 34.7rem;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .text {
            width: 100%;
            max-width: 52.6rem;

            span {
                color: $gray-200;
            }

            .top-left {
                font-size: 1.8rem;
                line-height: 2.7rem;
            }
            .title {
                font-weight: 700;
                font-size: 12.8rem;
                line-height: 10.2rem;
                color: $white;
                text-transform: uppercase;
                margin-bottom: 0.5rem;
            }
            .bottom-right {
                width: 23rem;
                .js-text {
                    position: relative;
                    left: 29.4rem;
                    font-size: 1.8rem;
                    line-height: 2rem;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        background-color: $black;
                        border-left: 0.2rem solid $accent;
                        animation: animate 4s steps(20) infinite;
                    }
                }
            }
        }

        .arrow {
            width: 100%;
            display: flex;
            justify-content: flex-end;

            margin-top: 34.7rem;

            img {
                width: 3.5rem;
                animation: floating 5s infinite;
            }
        }
    }
}

.s-about {
    margin-top: 17.6rem;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .left {
            width: 100%;
            max-width: 79rem;

            .subtitle {
                margin-bottom: 4rem;
            }
        }
        .right {
            .photo {
                filter: saturate(0);
                transition: filter 0.3s ease;

                &:hover {
                    filter: saturate(1);
                }
            }
        }
    }

    @media(max-width: 1200px) {
        .container {
            .left {
                max-width: 58rem;
            }
        }
    }
    @media(max-width: 991px) {
        .container {
            flex-direction: column;

            .left {
                .subtitle {
                    margin-bottom: 2rem;
                }
                .info {
                    margin-bottom: 4rem;
                }
            }
        }
    }
}

.s-knowledge {
    margin-top: 12.6rem;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .stacks {
            ul {
                display: flex;
                align-items: center;
                gap: 3.2rem;
                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    width: 17.6rem;
                    height: 17.6rem;
                    background-color: $gray-300;
                }
            }
        }
    }

    @media(max-width: 991px) {
        .container {
            flex-direction: column;
            .stacks {
                ul {
                    margin-top: 2rem;
                    gap: 1.5rem;
                }
            }
        }
    }
    @media(max-width: 580px) {
       margin-top: 8rem;
       .container {
        .stacks {
            ul {
                flex-direction: column;
            }
        }
       }
    }
}

.s-projects {
    margin-top: 11.6rem;


    .project {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: space-between;

        position: sticky;
        top: 0;

        .left {
            position: sticky;
            height: 100vh;
            width: 100%;
            max-width: 50%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            background-color: $white;
        }
        .right {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            background-color: $gray-100;
        }
    }

    @media(max-width: 1200px) {
        .project {
            .left {
                .half-container {
                    width: 100%;

                    .project-info {
                        width: 52rem;
                        padding-left: 1.5rem;
                    }
                }
            }

            .right {
                img {
                    width: 50rem;
                }
            }
        }
    }

    @media(max-width: 991px) {
        .project {
            .left {
                .half-container {
                    width: 100%;

                    .project-info {
                        width: 32rem;
                        padding-left: 1.5rem;

                        .tag {
                            font-size: 1.4rem;
                            line-height: 2.1rem;
                        }

                        .desc {
                            font-size: 1.6rem;
                            line-height: 2.4rem;
                        }
                    }
                }
            }

            .right {
                img {
                    width: 30rem;
                }
            }
        }
    }

    @media(max-width: 580px) {
        .project {
            flex-direction: column;
            .left {
                max-width: 100%;

                .half-container {
                    .project-info {
                        margin: 0 auto;
                    }
                }
            }
        }
    }
}

.s-contact {
    margin-top: 7.6rem;
    .container {
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .text {
                font-size: 1.8rem;
                line-height: 2.7rem;
            }
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 9rem;
            .field {
                margin-bottom: 2rem;
                label {
                    display: block;
                    margin-bottom: 0.5rem;

                    font-size: 1.8rem;
                    line-height: 2.7rem;

                    .accent {
                        color:  $accent;
                    }
                }
                input {
                    width: 43.3rem;
                    background-color: transparent;
                    border: none;
                    outline: none;
                    border-bottom: 1px solid $gray-400;
                    font-size: 1.2rem;
                    line-height: 1.8rem;
                    padding-bottom: 0.5rem;
                }
                textarea {
                    background-color: transparent;
                    border: 0;
                    width: 43.3rem;
                    border-bottom: 1px solid $gray-400;
                    padding-bottom: 0.5rem;
                }
            }
            .form-btn {
                width: 43rem;
                font-style: normal;
                font-weight: 600;
                font-size: 1.6rem;
                line-height: 2.4rem;
                text-transform: uppercase;
                background-color: $accent;
                border: none;
                outline: none;
                padding: 1rem 0;       
                margin-right: 1rem;

            }
        }
    }
}

@keyframes floating {
	0% {
		transform: translateY(0);
	}
	66% {
		transform: translateY(-15px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes animate {
    40%, 60% {
        left: calc(100% + 0.4rem);
    }
    100% {
        left: 0%;
    }
}