.subtitle {
    font-weight: 500;
    font-size: 4rem;
    line-height: 6rem;
    text-transform: uppercase;
    .accent {
        color: $accent;
    }
}

.project-info {
    width: 59.1rem;
    margin-right: 11.1rem;
    .tag {
        color: $accent;
        text-transform: uppercase;
        font-size: 1.6rem;
        line-height: 2.4rem;
        font-weight: 400;
    }
    .name {
        font-weight: 500;
        font-size: 4rem;
        line-height: 6rem;
        color: black;
        text-transform: uppercase;
    }

    .desc {
        color: black;
    }
}

.buttons {
    margin-top: 4rem;
     font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-transform: uppercase;

    .btn-primary {
        background-color: $accent;
        border: 2px solid $accent;
        padding: 1rem 3.2rem;       
        margin-right: 1rem;

    }

    .btn-secondary {
        color: $gray-400;
        padding: 1rem 3.2rem;
        border: 2px solid $gray-400;
    }
}