* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
  color: #D2E0E9;
}

html {
  scroll-behavior: smooth;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #131313;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.8rem;
  line-height: 2.7rem;
}

.container {
  width: 100%;
  max-width: 143.5rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
@media (max-width: 1440px) {
  .container {
    max-width: 124.8rem;
  }
}

.subtitle {
  font-weight: 500;
  font-size: 4rem;
  line-height: 6rem;
  text-transform: uppercase;
  color: #F2F2F2;
}
.subtitle .accent {
  color: #0487E2;
}

.project-info {
  width: 59.1rem;
  margin-right: 11.1rem;
}
.project-info .tag {
  color: #0487E2;
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
}
.project-info .name {
  font-weight: 500;
  font-size: 4rem;
  line-height: 6rem;
  color: black;
  text-transform: uppercase;
}
.project-info .desc {
  color: black;
}

.buttons {
  margin-top: 4rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-transform: uppercase;
}
.buttons .btn-primary {
  background-color: #0487E2;
  border: 2px solid #0487E2;
  padding: 1rem 3.2rem;
  margin-right: 1rem;
}
.buttons .btn-secondary {
  color: #828282;
  padding: 1rem 3.2rem;
  border: 2px solid #828282;
}

header {
  margin-top: 4rem;
}
header .container .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
header .container .menu li a {
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 2.4rem;
  transition: color 0.3s ease;
}
header .container .menu li a:hover {
  color: #0487E2;
}
@media (max-width: 580px) {
  header .container .menu li a {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }
}

.s-hero {
  margin-top: 34.7rem;
}
.s-hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.s-hero .container .text {
  width: 100%;
  max-width: 52.6rem;
}
.s-hero .container .text span {
  color: #7C8489;
}
.s-hero .container .text .top-left {
  font-size: 1.8rem;
  line-height: 2.7rem;
  color: #7C8489;
}
.s-hero .container .text .title {
  font-weight: 700;
  font-size: 12.8rem;
  line-height: 10.2rem;
  color: #F2F2F2;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.s-hero .container .text .bottom-right {
  width: 23rem;
}
.s-hero .container .text .bottom-right .js-text {
  position: relative;
  left: 29.4rem;
  font-size: 1.8rem;
  line-height: 2rem;
}
.s-hero .container .text .bottom-right .js-text::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #131313;
  border-left: 0.2rem solid #0487E2;
  animation: animate 4s steps(20) infinite;
}
.s-hero .container .arrow {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 34.7rem;
}
.s-hero .container .arrow img {
  width: 3.5rem;
  animation: floating 5s infinite;
}
@media (max-width: 991px) {
  .s-hero .container .arrow {
    margin-top: 40rem;
  }
}
@media (max-width: 580px) {
  .s-hero {
    margin-top: 25rem;
  }
  .s-hero .container .text .title {
    font-size: 8.4rem;
    line-height: 8.4rem;
    margin-bottom: 0;
  }
  .s-hero .container .text .bottom-right {
    width: 100vw;
    overflow-x: hidden;
  }
  .s-hero .container .text .bottom-right .js-text {
    left: 0;
  }
  .s-hero .container .arrow {
    margin-top: 32rem;
  }
}

.s-about {
  margin-top: 17.6rem;
}
.s-about .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s-about .container .left {
  width: 100%;
  max-width: 79rem;
}
.s-about .container .left .subtitle {
  margin-bottom: 4rem;
}
.s-about .container .right .photo {
  filter: saturate(0);
  transition: filter 0.3s ease;
}
.s-about .container .right .photo:hover {
  filter: saturate(1);
}
@media (max-width: 1200px) {
  .s-about .container .left {
    max-width: 58rem;
  }
}
@media (max-width: 991px) {
  .s-about .container {
    flex-direction: column;
  }
  .s-about .container .left .subtitle {
    margin-bottom: 2rem;
  }
  .s-about .container .left .info {
    margin-bottom: 4rem;
  }
}

.s-knowledge {
  margin-top: 12.6rem;
}
.s-knowledge .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s-knowledge .container .stacks ul {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.s-knowledge .container .stacks ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17.6rem;
  height: 17.6rem;
  background-color: rgba(30, 30, 30, 0.1176470588);
}
@media (max-width: 991px) {
  .s-knowledge .container {
    flex-direction: column;
  }
  .s-knowledge .container .stacks ul {
    margin-top: 2rem;
    gap: 1.5rem;
  }
}
@media (max-width: 580px) {
  .s-knowledge {
    margin-top: 8rem;
  }
  .s-knowledge .container .stacks ul {
    flex-direction: column;
  }
}

.s-projects {
  margin-top: 11.6rem;
}
.s-projects .project {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
}
.s-projects .project .left {
  position: sticky;
  height: 100vh;
  width: 100%;
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #F2F2F2;
}
.s-projects .project .right {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #D2E0E9;
}
@media (max-width: 1200px) {
  .s-projects .project .left .half-container {
    width: 100%;
  }
  .s-projects .project .left .half-container .project-info {
    width: 52rem;
    padding-left: 1.5rem;
  }
  .s-projects .project .right img {
    width: 50rem;
  }
}
@media (max-width: 991px) {
  .s-projects .project .left .half-container {
    width: 100%;
  }
  .s-projects .project .left .half-container .project-info {
    width: 32rem;
    padding-left: 1.5rem;
  }
  .s-projects .project .left .half-container .project-info .tag {
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
  .s-projects .project .left .half-container .project-info .desc {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .s-projects .project .right img {
    width: 30rem;
  }
}
@media (max-width: 580px) {
  .s-projects .project {
    flex-direction: column;
  }
  .s-projects .project .left {
    max-width: 100%;
  }
  .s-projects .project .left .half-container .project-info {
    margin: 0 auto;
  }
}

.s-contact {
  margin-top: 7.6rem;
}
.s-contact .container .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s-contact .container .top .text {
  font-size: 1.8rem;
  line-height: 2.7rem;
}
.s-contact .container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 9rem;
}
.s-contact .container form .field {
  width: 43.3rem;
  margin-bottom: 2rem;
}
.s-contact .container form .field label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
  line-height: 2.7rem;
}
.s-contact .container form .field label .accent {
  color: #0487E2;
}
.s-contact .container form .field input {
  width: 100%;
  max-width: 43.3rem;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #828282;
  font-size: 1.2rem;
  line-height: 1.8rem;
  padding-bottom: 0.5rem;
}
.s-contact .container form .field textarea {
  background-color: transparent;
  border: 0;
  width: 100%;
  max-width: 43.3rem;
  border-bottom: 1px solid #828282;
  padding-bottom: 0.5rem;
}
.s-contact .container form .form-btn {
  width: 100%;
  max-width: 43.3rem;
  font-style: normal;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  background-color: #0487E2;
  border: none;
  outline: none;
  padding: 1rem 0;
}
@media (max-width: 580px) {
  .s-contact .container .top {
    flex-direction: column;
  }
  .s-contact .container .top .text {
    font-size: 1.6rem;
    line-height: 2.4rem;
  }
  .s-contact .container form {
    margin-top: 5rem;
  }
  .s-contact .container form .field {
    width: 100%;
  }
}

@keyframes floating {
  0% {
    transform: translateY(0);
  }
  66% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes animate {
  40%, 60% {
    left: calc(100% + 0.4rem);
  }
  100% {
    left: 0%;
  }
}
footer {
  margin-top: 11.6rem;
  background-color: rgba(30, 30, 30, 0.1176470588);
}
footer .container {
  padding-top: 6rem;
}
footer .container .menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
footer .container .menu li a {
  text-transform: uppercase;
  font-size: 1.6rem;
  line-height: 2.4rem;
  transition: color 0.3s ease;
}
footer .container .menu li a:hover {
  color: #0487E2;
}
footer .container .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4.6rem 0 3rem;
}
footer .container .info .copy {
  font-size: 1.8rem;
  line-height: 2.7rem;
}
footer .container .info .social-medias {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
@media (max-width: 991px) {
  footer .container .info {
    flex-direction: column-reverse;
  }
  footer .container .info .social-medias {
    margin-bottom: 3rem;
  }
}
@media (max-width: 580px) {
  footer {
    margin-top: 5rem;
  }
  footer .container {
    padding-top: 3rem;
  }
  footer .container .menu {
    flex-direction: column;
  }
  footer .container .menu li a {
    font-size: 1.4rem;
    line-height: 2.1rem;
  }
  footer .container .info {
    flex-direction: column-reverse;
    padding-top: 3rem;
  }
  footer .container .info .copy {
    font-size: 1.4rem;
    line-height: 2.1rem;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */